@media (max-width:900px) {
    .introduction{
        .introduction_content{
            width: 80%;
        }
    }
}

@media (max-width:425px) {
    .introduction{
        .introduction_content{
            h2{
                font-size: 50px;
            }
            p{
                font-size: 14px;
            }
        }
    }
}