<div class="introduction">
    <video autoplay muted loop >
        <source src="../../../assets/videos/introduction-video.mp4" type="video/mp4">
    </video>
    
    <div class="introduction_content">
        <h2 id="intro_title">Welcome</h2>
        <p id="intro_p">Welcome to Gallery, your go-to platform for a curated collection of captivating artworks. Explore a diverse range of masterpieces, from contemporary wonders to avant-garde expressions. Join our community and let the beauty of art inspire your digital experience.</p>
    </div>
   
</div>
