.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    .home_content {
        text-align: center;
        width: 60%;
        position: relative;

        &::after,
        &::before {
            position: absolute;
            content: "";
            height: 1px;
            width: 10%;
            background-color: var(--Text-color);
        }

        &::after {
            top: 15%;
            left: 0;
        }

        &::before {
            bottom: 15%;
            right: -7%;
        }

        span {
            color: var(--Yellow);
        }

        img {
            height: 10vh;
            width: 15vw;
            object-fit: cover;
        }
    }
    .message{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            width: 100%;
            height: 100%;
            animation: rotate 5s linear infinite;
        }
        .icons{
            position: absolute;
            bottom: 30%;
            left: 50%;
            transform: translate(-50%,-50%);
            i{
                font-size: 40px;
                animation: fadeInOut 2s ease-in-out infinite;
            }
        }
    }
}

@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
@keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }