<div class="home" id="home">
  <div class="home_content">
    <h1 id="home_title">
      the whole <span>world</span>
      <img ngSrc="./assets/home-img.jpg" width="300" height="300" /> in one
      website
    </h1>
  </div> 
  
  <div class="message">
    <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
      <path id="circlePath" d="M100,10 A90,90 0 1,1 10,100 A90,90 0 1,1 100,190" fill="transparent" stroke="none" />
      <text  font-size="17" fill="#FFEDDD">
        <textPath xlink:href="#circlePath">
          Keep scrolling to see more
        </textPath>
      </text>
    </svg>
    <div class="icons">
      <i class="ph ph-mouse-simple"></i>
    </div>
  </div>
 
</div>