<div class="detail_image" [ngClass]="showImageDetail">
    <div class="detail_image_header">
        <h1>Gallery</h1>
        <button  (click)="closeImageDetail()" ><i class="ph ph-x-circle"></i></button>
    </div>
    <div class="image_container">
        <img src={{detailImage}} alt={{alt}}>
    </div>
   <div class="detail_title">
    <h1>Explore</h1>
   </div>
   <div class="detail_image_footer">
    <div class="user">
        <img src={{userImage}} alt="user image">
        <span>{{userName}}</span>
    </div>
    <div class="likes">
        <span>Like: <strong>{{likes}}</strong></span>
    </div>
    <div class="date">
        <span>date: <strong>{{date}}</strong></span>
    </div>
   </div>
</div>
