.introduction{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .introduction_content{
        background: var(--Dark-green);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        h2{
            font-size: 17vw;
            opacity: 0.2;
            color: var(--Text-color);
            font-weight:bold;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        p{
            width: 40%;
            line-height: 2rem;
            color: var(--Text-color);
        }
    }
    
}

