.search_bar_container {
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
    position: relative;
    color: var(--Text-color);

    label {
        position: absolute;
        top: 40%;
        right: 17%;
        transition: 0.3s ease-out, font-size 0.3s ease-out;
        pointer-events: none;
        span{
            animation: point 3s infinite ease-in-out;
            
            &:nth-child(2){
                animation-delay: 0.5s;
            }
            &:nth-child(3){
                animation-delay: 1s;
            }
        }

        &.active {
            top: -5%;
            right: 5%;
        }

        &.disable {
            top: -5%;
            right: 30%;
        }
    }

    input {
        width: 40%;
        height: 3rem;
        font-size: 14px;
        color: var(--Text-color);
        border-bottom: 1px solid var(--Yellow);
        padding: 0 8rem 0 1rem;
    }


    .icon {
        position: absolute;
        top: 25%;
        cursor: pointer;

        i {
            color: var(--Text-color);
        }
    }
}

@keyframes point {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}