.search_bar_container {
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
    position: relative;


    label {
        position: absolute;
        top: 0%;
        right: 32%;
        transition: 0.3s ease-out, font-size 0.3s ease-out;
        pointer-events: none;

        &.active {
            right: 5%;
        }

        &.disable {
          right: 30%;
        }
    }

    input {
        width: 40%;
        height: 3rem;
        font-size: 14px;
        color: var(--Black);
        border-bottom: 1px solid var(--Yellow);
        padding: 0 8rem 0 1rem;
    }


    .icon {
        position: absolute;
        top: 25%;
        cursor: pointer;
        i {
            color: var(--Black);
        }
    }
}