<div class="home">
  <div class="home_content">
    <h1 id="home_title">
      the whole <span>world</span>
      <img ngSrc="./assets/home-img.jpg" width="300" height="300" /> in one
      website
    </h1>
  </div> 
  
  <div class="message">
    <svg viewBox="0 0 500 200">
      <path id="textPath" class="text-path" d="M10,100 Q250,10 490,100" />
      <text class="text-content">
        <textPath xlink:href="#textPath">Keep scrolling to see more</textPath>
      </text>
    </svg>
    <div class="icons">
      <i class="ph ph-caret-right"></i>
      <i class="ph ph-caret-right"></i>
      <i class="ph ph-caret-right"></i>
    </div>
  </div>
 
</div>