:root {
    --Bg-color: #1C1A1C;
    --Black: #000000;
    --White: #FFFFFF;
    --Hightlight: #BC4271;
    --Dark-green: #1E1E1E;
    --Yellow: #FFC26F;
    --Text-color: #FFEDDD;
}

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--Bg-color);
    font-family: "Karla", sans-serif;
}

h1 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 7vw;
    text-transform: uppercase;
    color: var(--Text-color);
}

a {
    text-decoration: none;
}

i {
    color: var(--White);
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

input {
    outline: none;
    border: 0;
    background-color: transparent;
}

span {
    color: var(--Text-color);
}