header {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  nav {
    display: flex;
    gap: 1.5rem;

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      left: 0;
      top: -5%;
      background-color: var(--Yellow);
    }

    .link {
      display: flex;
      flex-direction: column;

      a,
      span {
        color: var(--White);
        text-transform: uppercase;
        transition: .5s;
      }

      span {
        cursor: pointer;
      }

      a {
        opacity: 0;

        &:hover {
          color: var(--Yellow);
        }
      }

      &:hover span {
        opacity: 0;
      }

      &:hover a {
        opacity: 1;
        transform: translateY(-15px);
      }
    }
  }
}
